/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}

/* Colors */
:root {
  --link:#038; /* Couleur des liens */
}

/* Specific */
html {
  font-size: 150%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #234;
  color: #cde;
}

main {
  padding: 1rem;
  width: fit-content;
  max-width: 1000px;
  margin: 1rem auto 0 auto;
  /* overflow: hidden; */
}

/* Text */
p, a, li, span, strong {
  font-size: 1em;
}

p, li, h1, h2, h3, h4, h5, h6 {
  margin: .4em;
}

h1 {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.6em;
}

pre, table {
  color: black;
}

/* Elements & Blocks */
form {
  display: contents;
}

label, article {
  display: block;
  margin: 1rem 0;
}

textarea {
  font-family: sans-serif;
  color: #123;
  font-size: 1em;
  display: block;
  width: 100%;
}

/* Fields & Links & Buttons */
input, button, a.button, a.button:link, a.button:visited {
  margin: 0 auto;
  font-size: .8rem;
  padding: .1rem .2rem;
  border: none;
  border-radius: 1rem;
  /* display: inline-block; */
}

input[type=number] {
  min-width: 2.5rem;
  width: 2.5rem;
}

input[type=date] {
  min-width: 6.6rem;
  width: 6.6rem;
}

input[type=text], input[type=password] {
  display: block;
  min-width: 4rem;
  width: 100%;
  max-width: 10rem;
}

input[type=file] {
  display: block;
  min-width: 5.5rem;
  width: 100%;
  max-width: 11rem;
}

button {
  display: inline-block;
}

button:hover, input[type=submit]:hover, a.button:hover {
  cursor: pointer;
  scale: 1.2;
  transition: .4s;
  text-decoration: none;
}
a:link, a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0 auto 1rem auto;
  vertical-align: middle;
  min-width: min-content;
  width: 100%;
  max-width: max-content;
}

th, td:first-child {
  background-color: grey;
  font-weight: bold;
  text-align: center;
}

th:first-child, tr.single td:first-child {
  border-top-left-radius: 1rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

th:last-child, tr.single td:last-child {
  border-top-right-radius: 1rem;
  border-right-width: 2px;
}

td:last-child {
  border-right-width: 2px;
}

tr:hover {
  background-color: blue;
}

td, th {
  border: 0 solid black;
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-left-width: 2px;
  padding: .5rem;
  vertical-align: middle;
  white-space: nowrap;
}

/* Misc */
.technical {
  display: none;
}
